.container{
    margin: 20px;
    padding: 10px;
}

h1{
    text-align: center;
}


img{
    height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    margin-top: 10px;
}
